// random number between min and max
random(a,b)
  return math(2, 'random')*(b - a + 1) + a

sqrt(x)
  return math(x, 'sqrt')

body, ul, ol, p
    margin 0
    padding 0

ul, ol
    list-style none

h1, h2, h3, h4, h5
    font-weight normal
    margin 0

a
    color white
    text-decoration none

body
    overflow-x hidden
    padding-left 200px
    font-family n, 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft YaHei', sans-serif
    -webkit-font-smoothing antialiased

/* animated hamburger icon */
.nav-toggle 
    cursor pointer 
    padding 10px 35px 16px 0px
    position absolute
    top 10px 
    left 10px
    z-index 1000
    display none

    span, span:before, span:after
        cursor pointer
        border-radius 3px
        height 4px
        width 30px
        background white
        position absolute
        display block
        content ''
        transition all 500ms ease-in-out

    span:before
        top -10px 

    span:after
        bottom -10px

    &.active
        span
            background-color transparent

        span:before, span:after
            top 0

        span:before
            -webkit-transform rotate(45deg)
            transform rotate(45deg)

        span:after
            -webkit-transform rotate(-45deg)
            transform rotate(-45deg)

header
    position fixed
    width 200px
    height 100%
    background white
    top 0
    left 0
    text-align center
    z-index 10

    h1
        padding-top 120px
        margin 0 0 20px
        background url(../img/ui/mfe-logo.png) center 0 no-repeat
        background-size 140px
        font-weight normal
        font-size 40px
        // text-shadow 0.05em 0.05em 0.1em #6c6375
        // color #343C47
        span 
            // color #f35626 
            color #343C47
            background-image -webkit-linear-gradient(60deg, #1E409D , #22c3aa) 
            -webkit-background-clip text 
            background-clip text 
            -webkit-text-fill-color transparent 
            text-fill-color transparent 
            -webkit-animation hue 30s infinite linear 
            animation hue 30s infinite linear 
            font-family l, 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft YaHei', sans-serif

    nav
        li
            padding 74px 0 10px
            text-align center
            font-size 20px
            color white
            cursor pointer
            -webkit-user-select none
            background url(../img/ui/hexagon_icon_github2.png) #DB6968 center 10px no-repeat
            background-size 64px
            &.on, &:hover    
                background-image url(../img/ui/hexagon_icon_github.png)

            &:nth-child(2)
                background-color #22C3AA
                background-image url(../img/ui/hexagon_icon_lab2.png)
                &.on, &:hover    
                    background-image url(../img/ui/hexagon_icon_lab.png)

            &:nth-child(3)
                background-color #305066
                background-image url(../img/ui/hexagon_icon_about2.png)
                &.on, &:hover    
                    background-image url(../img/ui/hexagon_icon_about.png)

            &:nth-child(4)
                background-color #0EA8E3
                background-image url(../img/ui/hexagon_icon_join2.png)
                &.on, &:hover    
                    background-image url(../img/ui/hexagon_icon_join.png)

            &:nth-child(5)
                background-color #CFE6FF 
                background-image url(../img/ui/hexagon_icon_post2.png)
                &.on, &:hover    
                    background-image url(../img/ui/hexagon_icon_post.png)

section
    color white
    position relative

    h2
        margin-bottom 0
        text-align center
        padding 10px 0
    
    .btn
        display inline-block
        border-radius 10px
        border 2px solid white
        font-size 24px
        line-height 60px
        padding 0 15px
        cursor pointer

        i 
            display inline-block
            vertical-align middle
            width 32px
            height 32px
            margin -3px 2px 0 0

        &.btn-github
            i
                background url(../img/ui/icon_github.png) center center no-repeat

        &.btn-start
            i
                background url(../img/ui/icon_start.png) center center no-repeat

    

    &#open
        background #DB6968
        text-align center

        $top = 180px

        h3 
            font-size 0
            height 122px
            background url(../img/content/muplayer_text.png) center $top+16 no-repeat
            text-align center
            padding-top $top
            margin-bottom 140px
            position relative
            z-index 10

            strong
                color #22c3aa

        p
            font-size 20px
            -webkit-animation-delay 4s
            animation-delay 4s

        .btn-group
            margin-top 75px
            -webkit-animation-delay 4s
            animation-delay 4s

            .btn
                margin 0 20px
                &:hover, &.active
                    background-color #22c3aa

        .feature
            position absolute
            font-size 0/0
            color transparent
            left 50%

            &.feature-core
                width 393px
                height 56px
                background url(../img/content/feature_core.png)
                margin-left -510px
                top $top + 110
                -webkit-animation-delay 1s
                animation-delay 1s

            &.feature-api
                width 460px
                height 53px
                background url(../img/content/feature_api.png)
                margin-left 30px
                top 130px
                -webkit-animation-delay 2s
                animation-delay 2s

            &.feature-stability
                width 479px
                height 97px
                background url(../img/content/feature_stability.png)
                margin-left 70px
                top $top + 110
                -webkit-animation-delay 3s
                animation-delay 3s


    &#lab
        background #22C3AA

        h2
            padding 50px 0 0 70px
            font-size 40px
            text-align left
            font-family l

            strong
                color #E1451C
                font-weight bold
                margin-right 8px

        .showcase
            padding 50px 20px 50px 50px

            li 
                display inline-block
                margin 15px
                text-align center
                position relative
                width 150px
                height 150px

                &:hover
                    .info
                        -webkit-transform scale(1)
                        transform scale(1)
                        opacity 1
                    p 
                        opacity 1

                    .thumb
                        box-shadow inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1)

            .info
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                border-radius 50%
                background rgba(63,147,147, 0.8)
                opacity 0
                -webkit-transition all 0.4s ease-in-out
                transition all 0.4s ease-in-out
                -webkit-transform scale(0)
                transform scale(0)
                -webkit-backface-visibility hidden

            p 
                padding-top 55px

            .thumb
                width 100%
                height 100%
                border-radius 50%
                overflow hidden
                position relative
                box-shadow inset 0 0 0 12px rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.1) 
                -webkit-transition all 0.4s ease-in-out 
                transition all 0.4s ease-in-out 
                background-size cover

            .author
                padding 10px
                display none
                img
                    width 30px
                    height 30px
                    border-radius 50%
                    vertical-align middle

            .title
                margin-top 10px
         
    

    &#about
        background #305066

        h2
            padding-top 100px
            font-size 30px

            strong
                color #db6968
                font-weight normal
                font-size 1.5em
                margin-right 8px

        $w = 150px
        $h = 150px
        $gap = -5
        .members 
            position relative
            margin 50px auto 0
            width ($w + $gap) * 6 - $gap
            height $h * 3 - $gap * 3 * 2

            li
                position absolute
                width $w
                height $h
                top 0

                $poly_a = (2 + sqrt(3)) / 4 * 100%
                $poly_b = (2 - sqrt(3)) / 4 * 100%
                .clip 
                    -webkit-clip-path polygon(50% 0, $poly_a 25%, $poly_a 75%, 50% 100%, $poly_b 75%,  $poly_b 25%)
                
                img
                    width 100%
                    height 100%

                .info
                    position absolute
                    text-align center
                    top 92px
                    left 10px
                    padding 0 10px
                    background rgba(0, 0, 0, 0.6)
                    color white


                $offset = ($gap + $w) / 2
                for $num in (1..5)
                    &:nth-child({$num})
                        left ($w + $gap) * ($num - 1) + $offset
                for $num in (6..11)
                    &:nth-child({$num})
                        top $h + $gap * 4
                        left ($w + $gap) * ($num - 6)
                for $num in (12..16)
                    &:nth-child({$num})
                        top ($h + $gap * 4) * 2
                        left ($w + $gap) * ($num - 12) + $offset
                for $num in (1..16)
                    &:nth-child({$num})
                        -webkit-animation-delay random(0.5, 2)s


    &#join
        background #0EA8E3

        code
            background rgba(101, 137, 197, 0.74)
            padding 0 5px
            border-radius 10px
            font-family 'consolas'
            margin 0 10px

        h2
            font-size 40px
            padding 50px 0 0 50px
            text-align left
            strong
                font-weight normal
                color #DB6968

        .recruitment
            margin-top 50px
            padding-left 50px

        p
            line-height 2em
       
    &#weekly  
        background #CFE6FF
        color #1E4889

        h2 
            padding 30px 50px 
            text-align left
            font-size 30px

        a 
            color #1E4889

        code
            background rgba(101, 137, 197, 0.74)
            padding 0 5px
            border-radius 10px
            font-family 'consolas'
            margin 0 10px
            color white

        .posts
            padding-left 50px
            li
                margin-bottom 20px
                list-style disc

footer
    position fixed
    width 200px
    left 0
    bottom 0
    z-index 20
    text-align center
    color #515151

    p 
        padding-bottom 10px
        font-size 12px
    

    .social
        li
            display inline-block
            width 35px
            height 35px
            margin 0 5px
            background url(../img/ui/iconfont-weibo.png) center center no-repeat
            background-size 40px

            a
                display block
                height 100%

            &.github
                background-image url(../img/ui/iconfont-github.png)
                background-size 30px

            &:hover 
                opacity .6


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width  320px) and (max-device-width  640px) 
    
    $sidebar_w = 180px

    body
        width 100%
        padding-left $sidebar_w
        -webkit-transform translateX(-($sidebar_w))
        transform translateX(-($sidebar_w))
        transition all 500ms ease-in-out

        &.push-toright
            -webkit-transform translateX(0)
            transform translateX(0)
            overflow hidden

            .pt-perspective:before
                content: ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba(0, 0, 0, 0.3)
                z-index 999

    .nav-toggle
        display block
                
    header
        width $sidebar_w
    
        h1
            padding-top 80px
            background-position-y -5px
            background-size 100px
            font-size 35px
            margin 0

        nav
            li
                padding 0 0 0 52px
                background-position 12px center
                background-size 35px
                height 70px
                line-height 70px
                text-align left

    section
        .btn
            border-radius 7px
            font-size 16px
            line-height 35px
            padding 0 4px

            &.btn-github, &.btn-start
                i 
                    background-size 25px
                    margin-right 0

        &#open
            $top = 100px
            h3
                font-size 60px
                background none
                height 92px
                padding-top $top
                margin-bottom 120px

            .feature
                &.feature-api
                    width 230px
                    height 26px
                    background-size 230px 26px
                    margin-left -80px
                    top $top - 15
                    -webkit-animation-delay: 1s;
                    animation-delay: 1s;

                &.feature-core
                    width 186px
                    height 28px
                    background-size 186px 28px
                    margin-left -150px
                    top $top + 80
                    -webkit-animation-delay: 2s;
                    animation-delay: 2s;

                &.feature-stability
                    width 240px
                    height 49px
                    background-size 240px 49px
                    margin-left -109px
                    top $top + 110

            p
                font-size 14px
                span
                    display block

            .btn-group
                margin-top 35px
                .btn
                    margin 0 8px

        &#lab
            h2
                font-size 30px
                padding 50px 0 0 20px 
                span
                    display block
                    text-align right
                    padding-right 20px

            .showcase
                max-height 340px
                overflow-y scroll
                padding 10px
                li
                    margin 10px
                    width 120px

                .thumb
                    height 120px
                    box-shadow none

                .info
                    position static
                    border-radius 0
                    opacity 1
                    -webkit-transform scale(1)
                    transform scale(1)
                    height auto
                    background none

                .title
                    margin-top 5px
                    padding-top 0
                    font-size 14px


        &#about
            h2
                font-size 20px
                padding-top 50px

            $w = 65px
            $h = 65px
            $gap = -2
            .members
                margin-top 10px
                width ($w + $gap) * 5 - $gap
                height $h * 3 - $gap * 3 * 2

                li
                    position absolute
                    width $w
                    height $h
                    top 0

                    $poly_a = (2 + sqrt(3)) / 4 * 100%
                    $poly_b = (2 - sqrt(3)) / 4 * 100%
                    .clip 
                        -webkit-clip-path polygon(50% 0, $poly_a 25%, $poly_a 75%, 50% 100%, $poly_b 75%,  $poly_b 25%)
                    
                    img
                        width 100%
                        height 100%

                    .info 
                        display none

                    $offset = ($gap + $w) / 2
                    for $num in (1..4)
                        &:nth-child({$num})
                            left ($w + $gap) * ($num - 1) + $offset
                    for $num in (5..10)
                        &:nth-child({$num})
                            top $h + $gap * 4
                            left ($w + $gap) * ($num - 5)
                    for $num in (10..13)
                        &:nth-child({$num})
                            top ($h + $gap * 4) * 2
                            left ($w + $gap) * ($num - 10) + $offset
                    for $num in (1..16)
                        &:nth-child({$num})
                            -webkit-animation-delay random(0.5, 2)s

        &#join
            h2
                font-size 24px
                padding 50px 0 0 10px

            .recruitment
                margin-top 20px
                padding 0 10px
                font-size 14px

        &#weekly
            h2
                font-size 24px
                padding 50px 30px 20px

            .posts
                padding-left 30px
                font-size 14px
                       
    footer
        width $sidebar_w

    








