.pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.pt-page-ontop {
  z-index: 999;
}
/* move from / to  */
.pt-page-moveToLeft {
  -webkit-animation: moveToLeft 0.6s ease both;
  animation: moveToLeft 0.6s ease both;
}
.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft 0.6s ease both;
  animation: moveFromLeft 0.6s ease both;
}
.pt-page-moveToRight {
  -webkit-animation: moveToRight 0.6s ease both;
  animation: moveToRight 0.6s ease both;
}
.pt-page-moveFromRight {
  -webkit-animation: moveFromRight 0.6s ease both;
  animation: moveFromRight 0.6s ease both;
}
.pt-page-moveToTop {
  -webkit-animation: moveToTop 0.6s ease both;
  animation: moveToTop 0.6s ease both;
}
.pt-page-moveFromTop {
  -webkit-animation: moveFromTop 0.6s ease both;
  animation: moveFromTop 0.6s ease both;
}
.pt-page-moveToBottom {
  -webkit-animation: moveToBottom 0.6s ease both;
  animation: moveToBottom 0.6s ease both;
}
.pt-page-moveFromBottom {
  -webkit-animation: moveFromBottom 0.6s ease both;
  animation: moveFromBottom 0.6s ease both;
}
/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
  }
}
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-o-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-o-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-moz-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
